
<mapper namespace="user">

    <insert id="insertUser">
        insert into t_cqhbatis values(#{id},#{name},#{age})
    </insert>

    <delete id="deleteUserById">
        delete from user where user_id=#{userId}
    </delete>

    <update id="updateUserById">
        update user set user_name=#{userName},user_password=#{userPassword},user_age=#{userAge} where user_id=#{userId}
    </update>

    <select id="selectUserById" resultType="com.chuanqihou.cqhbatis.test.pojo.User">
        select * from t_cqhbatis where id=#{userId}
    </select>


</mapper>